<section *ngIf="total != 0">
    <h1 class="demo-button">Total Amount : {{ total }}</h1>    
<a routerLink="/checkout" mat-raised-button class="demo-button">Checkout</a>
</section>
<section *ngIf="total == 0">
    <h1 style="margin-left: 40%;">No items in cart.</h1>
    <img style="height: 400px; width: 400px; margin-left: 35%;" src="../../../assets/empty_cart.svg" alt="empty cart">
</section>
<mat-grid-list cols="4" rowHeight="500px">
    <mat-grid-tile *ngFor="let item of cartItems">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{item.productName}}</mat-card-title>
                <mat-card-subtitle>{{item.price | currency: 'INR'}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{item.image}}
                alt="Photo of Fruit">
            <mat-card-actions style="margin-left: 25%;">
                <button (click)="removeFromCart(item.productName)" mat-raised-button color="accent">Remove</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>