<mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
        <div class="registration-container">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <h2>User Registration</h2>
                <mat-form-field appearance="fill" class="width-50">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error *ngIf="firstName!.errors?.['required']">First Name is required.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="width-50 ml-2">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Email address</mat-label>
                    <input matInput formControlName="email" placeholder="Ex. pat@example.com">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Enter password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="password!.errors?.['minlength']">Password must be 8 characters long.</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Confirm password</mat-label>
                    <input matInput formControlName="confirmPassword" [type]="chide ? 'password' : 'text'">
                    <mat-error *ngIf="registrationForm.errors?.['mismatch']">Passwords does not match.</mat-error>
                    <button mat-icon-button matSuffix (click)="chide = !chide">
                        <mat-icon>{{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button (click)="openSnackBar(message, action)" [disabled]="!registrationForm.valid" mat-raised-button color="primary" type="submit">Register</button>
                <small>Already have an account? <a mat-button routerLink="/login">Login Here</a></small>
            </form>
        </div>
    </mat-grid-tile>
</mat-grid-list>
